body {
  font-family: "Montserrat", "Kaushan Script", "Roboto", cursive, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;

  min-height: 100vh; /* это прижмет footer вниз страницы */
  display: flex;
  flex-direction: column; /* это прижмет footer вниз страницы */
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 65px;
  /* отступ к AMAZING SERVICES */
  margin-bottom: 128px;
}

.logo {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-nav {
  text-transform: uppercase;
}

/* ul */
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 491px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* li and a/link */

.main-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #95e1d3;
  /* анимация */
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.main-menu-item a:hover {
  color: rgb(243, 129, 129);
}

.main-menu-item a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgba(243, 129, 129, 0);
  transition-property: transform, background-color;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.main-menu-link:hover::after {
  display: block;
  background-color: rgba(243, 129, 129, 1);
  /* опускаю ::after на 10px вниз */
  transform: translateY(10px);
}

/* AMAZING SERVICES */

.conteiner-b {
  width: 1182px;
  margin: 0 auto;
}

.title {
  margin: 0px 0px 66px 0px;
}

.span-a {
  display: block;
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 23px;
}

.span-b {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}

.span-b::after {
  content: "";
  display: table;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 42px;
}

/* ul */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-basis: 350px;
  /*margin-bottom: 100px;*/
  /*outline: 2px solid red;*/
}

/* подходит, но не идеально
.services-item:nth-child(n + 4) {
  margin-bottom: 0px;
}*/

.services-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.image {
  align-self: flex-start;
  padding: 0px 25px 0px 0px;
}

h3 {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
}

.text {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  color: #999999;
  line-height: 24px;
  margin: 0;
}

.section-a {
  margin-bottom: 92px;
}

/* MEET OUR TEAM - section-b */

.section-b {
  width: 1200px;
  margin-bottom: 83px;
}

.text-b {
  display: block;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  color: #999999;
  line-height: 24px;
  margin: 0;
  text-align: center;
  margin-bottom: 92px;
}

/* ul */
.team-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li */
.team-item {
  display: flex;
  flex-direction: column;
}

/* div с .img*/
.photo {
  display: flex;
  background-color: #95e1d3;
  margin-bottom: 13px;
}
/* .img */
.photo-team {
  transition-property: transform; /* список свойст которые будут анимироватся (transform - перемещение)*/
  transition-duration: 400ms; /* продолжительность анимации */
  transition-timing-function: linear; /* ф-я распределения анимации по времени */
}

.team-item:hover .photo-team {
  transform: translate(-10px, -10px); /* перемещение влево и вверх по 10px */
}

/* градиент + кнопки с иконками */
.gradient-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  position: absolute; /* прикрутить градиент с контентом(кнопками) */
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.team-item:hover .gradient-box {
  opacity: 1;
  background: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  transform: translate(
    -10px,
    -10px
  ); /* перемещение влево и вверх по 10px как и .photo-team*/
}

/* button */
.facebook,
.twitter,
.pinterest,
.instagram {
  width: 55px;
  height: 55px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: #fce38a;
  transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: linear;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook,
.twitter,
.pinterest,
.instagram:not(:nth-last-of-type(1)) {
  margin-right: 1px;
}

.facebook {
  background-image: url(../img/facebook.png);
}

.twitter {
  background-image: url(../img/twitter.png);
}

.pinterest {
  background-image: url(../img/pinterest.png);
}

.instagram {
  background-image: url(../img/instagram.png);
}

.facebook:hover {
  background-color: #95e1d3;
}

.twitter:hover {
  background-color: #95e1d3;
}

.pinterest:hover {
  background-color: #95e1d3;
}

.instagram:hover {
  background-color: #95e1d3;
}

.team-name {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0px 0px 16px 0px;
}

.team-work {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: #acacac;
}

/* FOOTER */

main::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 80px;
}

footer {
  display: flex;
  width: 100%;
  height: 62px;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  font-family: "Montserrat";
  font-size: 14px;
}

.colored-text {
  color: #f38181;
}

form {
  display: flex;
  border: 1px solid #e5e5e5;
}

.email-button {
  padding: 0px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #95e1d3;
  width: 151px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.email {
  border: none;
  width: 228px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #cccccc;
  font-style: italic;
}
